body {
  margin: 0;
  padding: 0;
  color: #212112;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg);
  background-position: center;
  background-repeat: repeat;
  background-size: 7%;
  background-color: #fff;
  overflow-x: hidden;
  transition: all 200ms linear;
}
.insiders3{
  display: none;
}
.insiders4{
  display: none;
}
.insiders5{
  display: none;
}

.container,
.container2,
.container3,
.addmissions-container,
.contact-container{
  position: relative;
  background-attachment: fixed;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: #ff0000;

}

.container {
  margin-top: -8rem;
  background-image: url("bg/2.jpeg");
  height: 50rem;
}

/* @keyframes slider{
  0%{
    background-image: url("bg/2.jpeg")
  }
  25%{
    background-image: url("bg/2.jpeg")
  }
  50%{
    background-image: url("bg/3.jpeg")
  }
  75%{
    background-image: url("bg/4.jpeg")
  }
  100%{
    background-image: url("bg/5.jpeg")
  }

} */

.container::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(95, 87, 68, 0.248);
}

.container h1{
  color: #ffffff;
  position: absolute;
  top: 15rem;
  left: 13.2rem;
  font-size: 3.2rem;
  /* color: white; */
  font-family: sans-serif;
}

.container p{
  position: absolute;
  top: 25rem;
  left: 13.5rem;
  font-size: 1.3rem;
  color: #ffffff;
  font-weight: lighter;
  font-family: sans-serif;
}

.button{
  position: absolute;
  top: 35rem;
  left: 13.5rem;
  border: 3px solid rgb(255, 255, 255);
  padding: 0.8rem;
  border-radius: .8rem;
  transition: 0.5s;
}
.button a{
  text-decoration: none;
  text-transform: capitalize;
  font-family: sans-serif;
  color: #ffffff;
  transition: 0.5s;
  padding: 2rem;
}

.button:hover{
  cursor: pointer;
  background-color: #efedcb;
}
.button a:hover{
  color: #000000;
}

nav{
  z-index: 1;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  position: relative; 
}


.left ul{
  display: flex;
  list-style: none;
  margin-left: 11rem;
}
.right ul{
  z-index: 1;
  display: flex;
  list-style: none;
  margin-right: 160px;
}

nav ul li{
  z-index: 1;
  margin: 0.2rem;
  font-family: sans-serif; 
}

nav ul li a{
  z-index: 100;
  text-decoration: none;
  color: rgb(197, 197, 197);
  font-size: 0.8rem;
  font-weight: lighter;
  padding: 0.8rem;
  transition: 0.3s;
}

nav ul li a:hover{
  color: white;
  font-size: 18px;
}

#navbar{
  top: 0px;
  z-index: 100;
  display: flex;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  transition: 0.3s;
}

.left1{
  margin-left: 7rem;
  margin-top: 0.5rem;
}


#title{
  margin-left: 0.8rem; ;
  opacity: 1;
  margin-top: 0.5rem;
  height: 4rem;
  width: 4rem;
}

#title-name{
  margin-left: 8.5rem;
  margin-top: -3.7rem;
  color: white;
  font-family: sans-serif;
  font-size: 2.1rem;
}


.mid{
  display: flex;
  align-items: center;
}

.mid ul{
  display: flex;
  list-style: none;
  margin-right: 6.25rem;
  padding-top: 0px;
  color: black;

}

.mid ul li{
  font-family: sans-serif;
}

.mid ul li a{
  text-decoration: none;
  text-transform: uppercase;
  color: #D6D5A8;
  font-size: 0.8rem;
  font-weight: lighter;
  padding: 0.5rem;
  transition: 0.2s;
  border-radius: 0.6rem;
}

.mid ul li a:hover{
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.271);
  border-radius: 0.3rem;
  padding: 0.5rem;
  font-size: 1.2rem;
}

.right1{
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  margin-right: 12.5rem;
  border-radius: 1.5rem;
  background-color: rgb(0, 161, 118);
  padding: 0.15rem;
}

.right1 a{
  font-family: sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: lighter;
  padding: 0.6rem;
  transition: 0.3s;
}

.right1 a:hover{
  font-size: 0.6rem;
}





.head-title{
  color: rgb(15, 183, 141);
  z-index: 10000;
  margin-top: 3.125rem;
  margin-left: 43.75rem;
}

.head-title h2{
  font-family: "Libre Baskerville", serif;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.head-title h2::after{
  content: "";
  display: block;
  width: 19rem;
  height: 0.1rem;
  background-color: rgb(167, 33, 0);
  margin-top: -0.3rem;
  margin-left: -1.8rem;
}

.title-discription{
  color: #656271;
  margin-left: -15.625rem;
}
.title-discription p{
  font-family: "muli", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6;
  margin-left: 5.15rem;
}
#next-p{
  margin-top: -1rem;
  margin-left: 12rem;
}

.insiders1{
  display: flex;
  justify-content: space-between;
  margin-top: 1.875rem;
  height: 12.5rem;
}

.management{
  margin-left: 15.625rem; 
  width: 21.875rem;
}

.management:hover{
  cursor: pointer;
  box-shadow: 0 0.37rem 1.25rem 0 rgba(0, 0, 0, 0.109);
}

.management img{
  height: 2.5rem;
  width: 2.5rem;
  background-color: rgba(79, 175, 220, 0.38);
  border-radius: 1.5rem;
  padding: 0.3rem;
  margin-top: 1.25rem;
}

.management h3{
  color: #a6ace5;
  font-family: "libre baskerville", serif;
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 1.25rem;
}

.Transfer{
  width: 21.875rem;
}

.Transfer:hover{
  cursor: pointer;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.114), 0 0.25rem 1.25rem 0 rgba(0, 0, 0, 0.109);
}

.Transfer img{
  height: 2.5rem;
  width: 2.5rem;
  background-color: rgba(58, 239, 124, 0.38);
  border-radius: 1.5625rem;
  padding: 0.3rem;
  margin-top: 1.25rem;
}

.Transfer h3{
  color: #a6ace5;
  font-family: "libre baskerville", serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0.125rem;
}

.fee{
  margin-right: 15.6rem;
  width: 21.875rem;
}

.fee:hover{
  cursor: pointer;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.114), 0 0.25rem 1.25rem 0 rgba(0, 0, 0, 0.109);
}

.fee img{
  height: 2.5rem;
  width: 2.5rem;
  background-color: rgba(213, 227, 65, 0.38);
  border-radius: 1.55rem;
  padding: 0.315rem;
  margin-top: 1.25rem;
}

.fee h3{
  color: #a6ace5;
  font-family: "libre baskerville", serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 1.25rem;
}

.insiders2{
  display: flex;
  justify-content: space-between;
  margin-top: 1.875rem;
  height: 14.9rem;
}

.library{
  margin-left: 15.625rem;
  width: 21.9rem;
}

.library:hover{
  cursor: pointer;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.114), 0 0.25rem 1.25rem 0 rgba(0, 0, 0, 0.109);
}

.library img{
  height: 2.5rem;
  width: 2.5rem;
  background-color: rgba(79, 175, 220, 0.38);
  border-radius: 1.5rem;
  padding: 0.3rem;
  margin-top: 1.25rem;
}

.library h3{
  color: #a6ace5;
  font-family: "libre baskerville", serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 1.25rem;
}

.galary{
  width: 21.9rem;
}

.galary:hover{
  cursor: pointer;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.114), 0 0.25rem 1.25rem 0 rgba(0, 0, 0, 0.109);
}

.galary img{
  height: 2.5rem;
  width: 2.5rem;
  background-color: rgba(58, 239, 124, 0.38);
  border-radius: 1.5625rem;
  padding: 0.3rem;
  margin-top: 1.25rem;
}

.galary h3{
  color: #a6ace5;
  font-family: "libre baskerville", serif;
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 1.25rem;
}

.cbse{
  margin-right: 15.625rem;
  width: 21.9rem;
}

.cbse:hover{
  cursor: pointer;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.114), 0 0.25rem 1.25rem 0 rgba(0, 0, 0, 0.109);
}

.cbse img{
  height: 2.5rem;
  width: 2.5rem;
  background-color: rgba(213, 227, 65, 0.38);
  border-radius: 1.5rem;
  padding: 0.3rem;
  margin-top: 1.25rem;
}

.cbse h3{
  color: #a6ace5;
  font-family: "libre baskerville", serif;
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 1.25rem;
}



.container2{
  margin-top: 6.25rem;
  background-image: url("bg/bg3.jpg");
  height: 48rem;
}

.container2::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.39);
}

.container2 h1{
  position: absolute;
  top: 18.75rem;
  left: 35rem;
  font-size: 1.9rem;
  font-weight: lighter;
  color: #816797;
  font-family: sans-serif;
}

.container2 p{
  position: absolute;
  top: 22.5rem;
  left: 31.25rem;
  font-size: 1.25rem;
  color: #D6D5A8;
  font-weight: lighter;
  font-family: sans-serif;
  letter-spacing: 0.0625rem;
}

#auth{
  position: absolute;
  top: 25.625rem;
  left: 45rem;
  font-size: 1.25rem;
  color: white;
  font-weight: lighter;
  font-family: sans-serif;
  letter-spacing: 0.0625rem;
}

.button2{
  position: absolute;
  top: 475px;
  left: 707px;
  font-size: 1.2rem;
  font-weight: lighter;
  font-family: sans-serif;
  border: 3px solid #202b3b;
  border-radius: 1rem;
  padding: 0.9rem ;
  transition: 0.5s;
}

.button2 a{
  font-family: sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: lighter;
  padding: 10px;
  transition: 0.3s;
}

.button2:hover{
  background-color: #0FB78D;
}
.button2 a:hover{
  color: #000000;
}


.about{
  display: flex;
  justify-content: space-between;
}

.design{
  right: 0;
  width: 34rem;
  height: 23.4rem;
  margin-top: 3.75rem;
  background-color: rgba(15,183,141,.2);
}

.des-img{
  margin-left: -16.25rem;
  margin-top: 3.125rem;
}

.des-img img{
  height: 34rem;
  width: 32.75rem;
}

.about-us{
  margin-left: 9.375rem;
  margin-top: 4.6875rem;
  font-size: 1.25rem;
  letter-spacing: 0.19rem;
  font-family: "libre baskerville", serif;
  color: #0FB78D;
}

.about-us h1::after{
  content: "";
  display: block;
  width: 3rem;
  height: 0.15rem;
  background-color: #e37600;
  margin-top: 0.19rem;
}

.about-us p{
  color: #a6ace5;
  font-size: 1rem;
  font-weight: lighter;
  font-family: "Muli", sans-serif;
}

.about-us ul{
  list-style:circle linear-gradient(to right, #0FB78D, #0FB78D);
  margin-top: 3.125rem;
  margin-left: -1.5625rem;
}

.about-us ul li{
  padding-bottom: 1.25rem;
  font-size: 0.9rem;
  font-family: sans-serif;
  color: #a6ace5;
}

.button3{
  font-size: 1.25rem;
  color: white;
  font-size: 1.2rem;
  font-weight: lighter;
  font-family: sans-serif;
  border: 3px solid #202b3b;
  border-radius: 1rem;
  padding: 0.9rem ;
  transition: 0.5s;
  width: 10rem;
}

.button3 a{
  font-family: sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;
  font-weight: lighter;
  padding: 0.6rem;
  transition: 0.3s;
}

.button3:hover{
  background-color: #0FB78D;
}
.button3 a:hover{
  color: #000000;
}


.manage-p{
  color: #c7abdf; font-family: sans-serif; margin-top: -0.6rem;
}


#btn-darkmode{
  position: absolute;
  top: 0.75rem;
  right: 49.375rem;
  font-size: 1.25rem;
  color: white;
  font-weight: lighter;
  font-family: sans-serif;
  border-radius: 1.565rem;
  background-color: rgb(27, 36, 48);
  padding: 0.6rem;  
  height: 2.8125rem;

}

.dark-mode{
  background-color: rgb(255, 255, 255);
  color: #0FB78D;
  transition: 0.5s;
}

@media screen and (max-width: 1441px){
  html{
    font-size: 70%;
  }
}


@media screen and (max-width: 1025px){
  html{
    font-size: 55%;
  }
}

@media screen and (max-width: 768px) {
  html{
    font-size: 45%;
  }
}

@media screen and (max-width: 576px) {
  html{
    font-size: 35%;
  }

}

@media screen and (max-width: 426px) {
  html{
    font-size: 25%;
    justify-content: center;
  }
  .button2 {
    position: absolute;
    top: 98px;
    left: 137px;
    font-size: 0rem;
    font-weight: lighter;
    font-family: sans-serif;
    border: 3px solid #202b3b;
    border-radius: 1rem;
    padding: 0.9rem;
    transition: 0.5s;
  }
  .container{
    height: 180rem;
    margin-top: -18rem;
  }
  .container h1{
    top: 60rem; 
    font-size: 8rem; 
    left: 4rem;
  }
  .container p{
    top: 80rem;
    font-size: 5.5rem;
    left: 5rem;
  }

  .button{
    top: 136rem; 
    left: 5rem;
    border-radius: 2rem;
  }

  .button a{
    font-size: 5rem;
  }

  .left1{
    margin-top: -5rem;
  }
  nav{
    display: none;
  }

  #navbar{
    height: 18rem;
  }
  .mid{
    display: none;
  }
  .right1{
    display: none;
  }

  #title{
    height: 15rem;
    width: 15rem;
    margin-left: -5rem;
    margin-top: 8.5rem;
  }

  #title-name{
    font-size: 8.5rem;
    margin-top: -13.5rem;
    margin-left: 11rem;
  }
  
  .head-title{
    margin-left: 25rem;
  }

  .head-title h2{
    font-family: "Libre Baskerville", serif;
    font-size: 8rem;
    font-weight: 500;
    line-height: 1.2;
    left: 10rem;
  }
  
  .head-title h2::after{
    content: "";
    display: block;
    width: 65rem;
    height: 0.1rem;
    background-color: rgb(167, 33, 0);
    margin-top: -0.3rem;
    margin-left: -1.8rem;
  }
  
  .title-discription p{
    margin-left: -5rem;
    font-size: 3.2rem;
  }

  #next-p{
    margin-top: -3rem;
  }
  
  .cont-insider{
    height: 180rem;
  }

  .insiders1{
    display: none;
  }
  .insiders2{
    display: none;
  }

  .management, .Transfer, .fee, .library, .galary, .cbse{
    height: 42rem;
  }

  

  .insiders3{
    display: flex;
    justify-content: space-between;
    margin-top: 1.875rem;
    height: 12.5rem;
  }

  .management{
    margin-left: 3rem;
    width: 50rem;
  }

  .management h3, .Transfer h3{
    font-size: 6rem;
  }

  .management p, .Transfer p{
    font-size: 4rem;
    margin-top: -5rem;
  }

  .Transfer{
    width: 50rem;
    margin-right: 0rem;
  }



  .insiders4{
    display: flex;
    justify-content: space-between;
    margin-top: 40rem;
    height: 12.5rem;
  }

  .fee{
    margin-left: 3rem;
    width: 55rem;
    margin-right: 0;
  }

  .fee h3, .library h3{
    font-size: 6rem;
  }

  .fee p, .library p{
    font-size: 4rem;
    margin-top: -5rem;
  }

  .library{
    width: 50rem;
    margin-right: 0rem;
    margin-left: 0;
  }

  .insiders5{
    display: flex;
    justify-content: space-between;
    margin-top: 45rem;
    height: 12.5rem;
  }

  .galary{
    margin-left: 3rem;
    width: 55rem;
    margin-right: 0;
  }

  .galary h3, .cbse h3{
    font-size: 6rem;
  }

  .galary p, .cbse p{
    font-size: 4rem;
    margin-top: -5rem;
  }

  .cbse{
    width: 50rem;
    margin-right: 0rem;
    margin-left: 0;
  }

}

@media screen and (max-width: 376px) {
  html{
    font-size: 20%;
  }
  .button2 {
    position: absolute;
    top: 98px;
    left: 137px;
    font-size: 0rem;
    font-weight: lighter;
    font-family: sans-serif;
    border: 3px solid #202b3b;
    border-radius: 1rem;
    padding: 0.9rem;
    transition: 0.5s;
  }
  .container{
    height: 257rem;
  }
  .container h1{
    top: 40rem;
    font-size: 14rem;
    left: 5rem;
  }
  .container p{
    top: 100rem;
    font-size: 6rem;
    left: 6rem;
    font-weight: 500;
  }

  .button{
    top: 155rem;
    left: 6rem;
  }

  .button a{
    font-size: 7rem;
  }
 
  .mid{
    display: none;
  }

  .head-title{
    margin-left: 25rem;
  }

  .head-title h2{
    font-family: "Libre Baskerville", serif;
    font-size: 8rem;
    font-weight: 500;
    line-height: 1.2;
    left: 10rem;
  }
  
  .head-title h2::after{
    content: "";
    display: block;
    width: 68rem;
    height: 0.1rem;
    background-color: rgb(167, 33, 0);
    margin-top: -0.3rem;
    margin-left: -1.8rem;
  }
}

@media screen and (max-width: 325px) {
  html{
    font-size: 15%;
  }
}

@media screen and (max-width: 240px) {
  html{
    font-size: 10%;
  }
}