.contact-container {
  margin-top: -128px;
  background-image: url("bg/bg4.jpg");
  height: 100vh;
}

.contact-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.39);
}

.contact-details-container {
  display: flex;
}

.contact-details-container-left {
  width: 260px;
  margin-top: 170px;
  margin-left: 250px;
}

.contact-details-container-left-top {
  padding-bottom: 80px;
}


.contact-details-container-left-top h2,
.contact-details-container-left-mid h2,
.contact-details-container-left-bottom h2{
    font-family: "Libre Baskerville", serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 1.2;
}

.contact-details-container-left-top ul,
.contact-details-container-left-mid ul,
.contact-details-container-left-bottom ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-details-container-left-top ul li a,
.contact-details-container-left-mid ul li a,
.contact-details-container-left-bottom ul li a {
  font-size: 15px;
  color: #333333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  transition: 0.3s;
}

.contact-details-container-left-mid {
  padding-bottom: 80px;
}

.contact-details-container-left-bottom {
  padding-bottom: 50px;
}

.contact-details-container-right {
  /* border: 2px solid red; */
  width: 800px;
  margin-top: 150px;
  margin-left: 160px;
}

.contact-details-container-right h1 {
  margin-left: 300px;
  font-family: "Libre Baskerville", serif;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: rgb(15, 183, 141);
}

.contact-details-container-right h1::after {
  content: "";
  display: block;
  width: 220px;
  height: 2px;
  background-color: rgb(15, 183, 141);
  margin-top: -5px;
  margin-left: -25px;
}

.contact-form {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background: rgb(199, 194, 194);
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form-group {
  margin-bottom: 10px;
  color: black;
}

.form-control {
  background-color: whitesmoke;
  border-radius: 10px;
  border: none;
  padding: 10px;
  font-size: 15px;
  width: 100%;
  font-family: "open sans", sans-serif;
  margin-left: -10px;
}

.btn-primary {
  background-color: rgb(44, 44, 44);
  border-color: rgb(35, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 15px;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  font-family: "open sans", sans-serif;
}

.btn-primary:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
